<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs')%>
    <title><%=title%></title>
    
</head>
<body>
    <%-include('../partials/footer.ejs')%>
    <p>Lorem ipsum dolor sit amet.</p>
</body>
</html>